{% extends '.layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
  {{ siteTitle }} - Start
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <title>Check if you can apply for a Laying Hens Housing for Health and Welfare Grant</title>
      <div class="govuk-body">
        <h1 class="govuk-heading-xl">Check if you can apply for a Laying Hens Housing for Health and Welfare Grant</h1>
        <p>Use this service to check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if you are eligible to apply for a grant for your project (takes about 15 minutes)</li>
          <li>how your project scores against the grant funding priorities (takes about 15 minutes if you have all the project details)</li>
        </ul>
        <h2 class="govuk-heading-m">Who can apply</h2>
        <p class="govuk-body">You can apply if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>are a laying hen or pullet farmer</li>
          <li>will do the grant-funded work in England</li>
          <li>have 1,000 or more laying hens or pullets</li>
        </ul>
        <h2 class="govuk-heading-m">What you can apply for</h2>
        <p>You can apply for up to 40% of estimated costs of:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>replacing or refurbishing laying hen or pullet housing</li>
          <li>adding a veranda to existing laying hen or pullet housing</li>
        </ul>
        <p>If you are applying for housing grant funding, you can apply for up to 25% of the 
           estimated costs of buying and installing a solar PV system which produces up to 5 kilowatts (kW) of energy 
           output per 1,000 birds.
        </p>
        <p>You can apply for grant funding for multiple house or veranda projects. You must submit an application for each project. 
           You cannot apply for grant funding for both housing and veranda projects.
        </p>
        <p>The maximum total grant amount each business can apply for is £500,000 for housing projects 
           (including solar PV system costs) or £100,000 for veranda projects. 
           The Rural Payments Agency (RPA) will award the grant funding for verandas on a first come, first served basis.
        </p>
        <p>For housing projects, the minimum grant is £15,000 (40% of £37,500).
          <br>For veranda projects, the minimum grant is £5,000 (40% of £12,500).</br>
        </p>
        {{ govukInsetText({
          text: 'If your project is eligible, you will be able to submit your online application to the RPA.'
        }) }}

        {{ govukButton({
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          href: button.nextLink,
          isStartButton: true,
          text: button.text
        }) }}
      </div>
      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">To use the checker, you need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information about the project (for example, planning permission requirements, insulation type, 
            ventilation system capacity, multi-tier system information, veranda specifications)
        </li>
        <li>an estimate of the total cost of the project</li>
        <li>information about your business (for example, county parish holding (CPH) number, number of employees, turnover)</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-8">If you do not enter any information for more than 20 minutes, your application will time out and you will have to start again.</p>
      <h2 class="govuk-heading-m">Problems using the online service</h2>
      <p class="govuk-body">If you have any problems using the online service, call the RPA and follow the options for the Farming Transformation Fund scheme.</p>

      <br><h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
      <li>Telephone: 0300 0200 301</li>
      <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
      </ul>
      <p class="govuk-body"><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      <h3 class="govuk-heading-s">Email</h3>
      <p class="govuk-body"><a class="govuk-link" title="Send email to RPA" href="mailto:FTF@rpa.gov.uk">FTF@rpa.gov.uk</a></p>
    </div>
  </div>
{% endblock %}