{% extends '.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "./components/macro.njk" import crumbToken %}

{% block pageTitle %}
  Potential grant funding - {{siteTitle}}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink,
        attributes: {id: 'linkBack'}
    })}}

{% endblock %}

{% block content %}

    <div class="govuk-body">
        You may be able to apply for a grant of up to £{{totalCalculatedGrant}}, based on the estimated cost of £{{totalProjectCost}}

        <div class="govuk-list govuk-list--bullet">
            <ul>
                <li>£{{calculatedGrant}} for building project costs ({{grantPercentage}}% of £{{projectCost}})</li>
                <li>£{{grantFunding}} for solar PV system costs</li>
            </ul>
        </div>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    How is the solar PV system grant funding calculated?
                </span>
            </summary>
            <div class="govuk-details__text">
                {# breakdown of costs text format #}
                {# table view with hint text, links etc #}
            </div>
        </details>

    </div>

<div class="govuk-grid-row">
    {{ govUkWarningText({ 
        text: 'There is no guarantee you will receive a grant',
        iconFallbackText: 'Warning'
    }) }}

<br/><br/>
    <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate>
      {{ crumbToken(crumb)}}
      {{ govukButton({
        text: "Continue",
        attributes: {id: "btnContinue"}
      }) }}
    </form>
</div>
{% endblock %}